* {
  margin: 0;
  padding: 0;
}

/* Main wrapper */
#wrapper {
  border: 1px dotted black;
  padding: 15px;
  width: 620px;
  margin: 0 auto;
  margin-top: 20px;
}

/* Navigation */
.nav {
  margin-bottom: 15px;
}

.nav-link {
  width: 120px;
  height: 30px;
  background: #708090;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-right: -5px;
  line-height: 30px;
  margin-right: 15px;
  text-decoration: none;
}

/* Heading */
.heading {
  padding: 15px;
  background: #f5f5f5;
  margin-bottom: 15px;
}

/* Main image */
.img-wrapper {
  padding: 10px;
  border: 1px dotted #000;
  display: inline-block;
}

/* Footer */
.footer {
  padding: 15px;
  border: 1px dotted #000;
}

.heading-footer-links {
  font-size: 14px;
  line-height: 14px;
}

.footer-link {
  list-style: none;
  display: inline-block;
}
